/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  color: white;
}
